.display--container {
    padding: 10px;
}

hr {
    border: 1px solid #80808030;
    width: 100%;

    margin-bottom: 30px;
}

.display--icon {
    position: absolute;

    top: calc(36% - 40px);
    left: calc(50% - 40px);
    display: block;

    border-radius: 100%;
    background-color: blueviolet;
    color: white;

    width: 60px;
    height: 60px;

    text-align: center;

    padding: 24px 16px;
}

.display--paragraph {
    display: block;
    font-size: 4.2rem;
}

.display--paragraph__number {
    color: blueviolet;
    font-weight: bolder;
}

.display--paragraph__text {
    color: black;
    font-weight: bolder;
}

@media screen and (min-width: 700px) {
    .display--paragraph {
        font-size: 7rem;
    }
}
@media screen and (min-width: 1024px) {
    .display--paragraph {
        font-size: 9rem;
    }
    .display--icon {
        left: calc(60% - 39px);
        top: calc(33% - 40px);
    }
}